<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @resource.uri %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" rel="stylesheet" href="main_<%= Calamum::SALT %>.css" />
  </head>
  <body>
    <div id="page">

      <div id="header-outer">
        <div id="header">
          <a href="index.html" id="logo" title="Home"><%= @name %></a>

          <ul id="title-nav">
            <li><a href="authentication_<%= Calamum::SALT %>.html">Авторизация</a></li>
            <li><a href="index.html">Ресурсы</a></li>
            <li><a href="errors_<%= Calamum::SALT %>.html">Ошибки</a></li>
          </ul>
        </div>
      </div>

      <div id="content-outer">
        <div class="page-header">
          <h1><%= @resource.action %> <%= @resource.uri %></h1>
          <p><%= @resource.description %></p>
        </div>

        <div id="content-main">

      	  <% unless @resource.headers.empty? %>

            <div class="field">
              <h2>Заголовки</h2>
              <div class="odd">
                <% @resource.headers.each do |key, content| %>
                  <div class="parameter">
                    <span class="param"><%= key %></span>
                    <p><%= content %></p>
                  </div>
                <% end %>
              </div>
            </div>

      	  <% end %>

          <% unless @resource.params.empty? %>

            <div class="field">
              <h2>Параметры</h2>
              <div class="odd">
                <% @resource.params.each do |key, content| %>
                  <div class="parameter">
                    <span class="param"><%= key %>
                      <span><%= content['required'] ? '<b>Обязательно</b>' : '<i>Опционально</i>' %>, тип: <%= content['type'] %></span>
                    </span>
                    <p><%= content['description'] %></p>
                  </div>
                <% end %>
              </div>
            </div>

          <% end %>

          <% if @resource.request %>
            <div class="group-example-request">
              <h2>Запрос</h2>
              <pre class="prettyprint"><%= @resource.request %></pre>
            </div>
          <% end %>

          <% if @resource.response %>
            <div class="group-example-request">
              <h2>Ответ</h2>
              <pre class="prettyprint lang-js"><%= pj @resource.response %></pre>
            </div>
          <% else %>
            <div class="group-example-request">
              <h2>Ответ</h2>
              <pre class="prettyprint lang-js">
                {}
              </pre>
            </div>
          <% end %>
        </div>

        <div id="sidebar-last">
          <div class="block api-doc-block">
            <table>
              <tbody>
                <tr>
                  <td>Версия</td>
                  <td><%= @version %></td>
                </tr>
                <tr>
                  <td>HTTP метод</td>
                  <td><%= @resource.action %></td>
                </tr>
                <tr>
                  <td>Авторизация</td>
                  <td><%= @resource.auth ? '<span class="red">Обязательна</span>' : 'Не требуется' %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div id="footer-outer">
        <div id="footer"><%= @copyright %></div>
      </div>

    </div>
  </body>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</html>
